*,
::after,
::before {
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #ddd transparent
}

:host,
html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
    font-family: "Source Sans 3", ui-sans-serif, system-ui, sans-serif;
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent
}

body {
    margin: 0;
    line-height: inherit;
    background-color: #111;
    color: white;
    overflow: auto;
    height: 100vh;
    color-scheme: dark;
}

.hidden,
[hidden] {
    display: none
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    vertical-align: middle;
}
